
.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: "Avenir Book";
}
.text-smaller{
    -fx-font-size: 11px;
    -fx-font-family: "Avenir Book";
}
.text-larger{
    -fx-font-size: 15px;
    -fx-font-family: "Avenir Book";

}
#logo{
    -fx-font-family: "Phosphate";
    -fx-font-size: 48px;
}
#logo-twirl{
    -fx-font-family: "SignPanter";
    -fx-font-size: 64;
    -fx-text-fill: #FFAC33;
    -fx-rotate: -20;
}
#logo-listitem{
    -fx-font-size: 20px;
    -fx-font-family: "Avenir Book";
}
.static-obj-hint{
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
.recipe-list-item:hover{
    -fx-background-color: #FCFCFC;
}
.recipe-list-item:pressed{
    -fx-background-color: #D0D0D0;
}
.text-area .content {
    -fx-background-color: white ;
}

.text-area  {
    -fx-background-color:white;
}
.under-rubrik{
    -fx-font-weight: bold;
}
.special{
    -fx-background-color: rgba(0,0,0,0.70);
}
.borders{
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.mirror{

}